html, body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff5d7;
    scroll-behavior: smooth;
}

header {
    background: #ff5e6cd8;
    color: #333;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
}

a {
    color: #3a3434;
    text-decoration: none;
}

a:hover {
    color: #3a3434cc;
    text-decoration: none;
}

a:active {
    color: #3a3434;
    text-decoration: none;
}

a:visited {
    color: #3a3434;
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 20px auto;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project {
    background: #ff5e6cd8;
    color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 30%;
}

.project img {
    max-width: 100%;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}

.container {
    opacity: 0;
    transform: translateY(20px);
    flex: 1;
}

.container.show {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1.7s ease, transform 1.7s ease;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.icon {
    width: 10;
    height: 10;
    padding: 1;
}

footer {
    background: #fff5d7;
    color: #333;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* for fade in  */
.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in;
}

.fade-in.visible {
opacity: 1;
}